<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- HTTP 트래픽을 허용합니다.usesCleartextTraffic 구문 추가 -->
    <!-- 애플리케이션이 암호화되지 않은 HTTP 요청을 서버로 보낼 수 있습니다.
     기본적으로 Android는 보안을 강화하기 위해 HTTP(암호화되지 않은) 트래픽을 차단하고, HTTPS(암호화된)만을 허용합니다.
     그러나 이 설정은 특정 도메인에 대한 HTTP 요청을 허용하지 않는 경우도 있습니다.
     networkSecurityConfig 파일을 사용하면 특정 도메인에 대해 HTTP를 허용할 수 있습니다.-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeCCTV"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/security"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
kim
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".cctvActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

    </application>

</manifest>